<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mood.jenaPlus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="com.mood.jenaPlus.permission.MAPS_RECEIVE" />

    <permission
        android:name="com.mood.jenaPlus.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDABYhh4h0I7KzggNbpc2qADo2WODMf30w" />

        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MoodPlusActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewMoodActivity"
            android:label="Mood+"
            android:parentActivityName=".MoodPlusActivity" />
        <activity
            android:name=".AddMoodActivity"
            android:label="Mood+"
            android:parentActivityName=".MoodPlusActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".MapActivity" />
        <activity
            android:name=".FilteredTextActivity"
            android:label="Mood+"
            android:parentActivityName=".MoodPlusActivity" />
        <activity
            android:name=".FilteredMoodActivity"
            android:label="Mood+"
            android:parentActivityName=".MoodPlusActivity" />
        <activity
            android:name=".FilteredDateActivity"
            android:parentActivityName=".MoodPlusActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".GPSTracker" />

        <activity
            android:name=".FollowActivity"
            android:parentActivityName=".MoodPlusActivity" />
        <activity
            android:name=".FollowerRequestActivity"
            android:parentActivityName=".MoodPlusActivity" />
        <activity
            android:name=".FollowingListActivity"
            android:parentActivityName=".MoodPlusActivity" />
        <activity
            android:name=".FilterFollowDateActivity"
            android:parentActivityName=".MoodPlusActivity" />
        <activity
            android:name=".FilterFollowMoodActivity"
            android:parentActivityName=".MoodPlusActivity" />
        <activity
            android:name=".FilterFollowTextActivity"
            android:parentActivityName=".MoodPlusActivity" />
        <activity android:name=".MarkerActivity" />
        <activity
            android:name=".GraphActivity"
            android:parentActivityName=".MoodPlusActivity" />
        <activity
            android:name=".FilterFollowLocationActivity"
            android:parentActivityName=".MoodPlusActivity" />
        <activity
            android:name=".FilteredLocationActivity"
            android:parentActivityName=".MoodPlusActivity" />
        <activity android:name=".EditMapActivity" />
        <activity
            android:name=".EditMoodActivity"
            android:parentActivityName=".MoodPlusActivity" />
        <activity android:name=".StatsActivity"
            android:parentActivityName=".MoodPlusActivity"></activity>
    </application>

</manifest>